body
{
	background-color: powderblue;
}

h1
{
	background-color: black;
	color: white;
	margin-bottom:20px; 
	text-align: center;
}

p {
     background-color: aquamarine;
     color: #333300;
}

.header
{
    position: absolute;
    top : 10px;
    left: 10px;
    height: 60px;
    text-align : center;
}
.centerPage
{
    position: absolute;
    top: 70px;
    left: 22%;
    width: 76%;
}
.leftPage
{
    position: absolute;
    top: 70px;
    left: 1%;
    width: 20%;
    height: 100%;
}